.footer {
	margin-top: 120px;
}

.footer-wrapper {
	padding-top: 40px;
	display: flex;
	justify-content: space-between;
	background-image: url("../img/bigline-icon.svg");
	background-repeat: no-repeat;
}

.footer-list__address {
	max-width: 170px;

	&-item {
		@include reset-list;
		@include font-helvetica-regular;
		@include font(16px, 28px);
		color: $color-text-base;
	}

	&-item:last-child {
		padding-bottom: 0;
	}
}

.footer-list__addres-item-link {
	@include reset-link;
	@include font-helvetica-regular;
	@include font(16px, 28px);
	color: $color-text-base;
}

.footer-list__menu {
	max-width: 170px;

	&-item {
		@include reset-list;
	}
}

.footer-list__menu-item-link {
	@include reset-link;
	@include font-helvetica-regular;
	@include font(16px, 28px);
	color: $color-text-base;
}

.footer-list__social {
	max-width: 170px;
	&-item {
		@include reset-list;
	}
}
.footer-list__social-item-link {
	@include reset-link;
	@include font-helvetica-regular;
	@include font(16px, 28px);
	color: $color-text-base;
}
