.header {
	padding-top: 33px;
	padding-bottom: 16.22px;
	background-color: #f7f7f7;
}
.header-container {
	@include flex-center-v;
	justify-content: space-between;
}

.header__logo-link {
	display: inline-block;
	margin-top: 2px;
	margin-left: 6px;
}

.nav-menu {
	padding-bottom: 7px;
	margin-right: -77px;
}
.nav-menu__list {
	@include flex-center-v;
	@include reset-list;
	&-item {
		padding-right: 30px;
	}
	&-item:last-child {
		padding-right: 0px;
	}
	.nav-menu__link {
		@include reset-link;
		font-weight: 500;
		@include font(14px, 20px);
		text-transform: uppercase;
		color: $color-dark-font;
		transition: 0.3s ease-in-out;

		&:hover {
			text-decoration: underline;
		}
	}
}

.header-contact__block {
	@include flex-center-v;
}
.header__button {
	&-btn {
		@include reset-button;
		font-size: 14px;
		font-weight: 500;
		text-transform: uppercase;
		color: $color-dark-font;
		padding-bottom: 12px;
		margin-left: -80px;
	}
}

.header__contact {
	&-link {
		@include reset-button;
		@include font-cabinet-bold;
		color: $color-bg-base;
		background-color: #d6680f;
		border-radius: 6px;
		font-weight: bold;
		@include font(16px, 20px);
		width: 118px;
		height: 40px;
		cursor: pointer;
		transition: 0.3s ease-in-out;
		margin-right: -9px;

		&:hover {
			background-color: #f7f7f7;
			color: #d6680f;
			border: 2px solid #d6680f;
		}
	}
}

.leng {
	@include reset-list;

	&__link {
		@include reset-link;
		@include reset-link;
		@include font-helvetica-medium;
		@include font(14px, 21px);
		color: $color-dark-font;
		text-transform: uppercase;
	}

	&__item {
		display: none;
	}

	&__item:first-child {
		display: flex;
		align-items: center;
		&::after {
			display: table;
			content: "";
			width: 12px;
			height: 7px;
			background: url("../img/mini-arrow.svg") no-repeat;
			margin-left: 10px;
		}
	}

	&:hover &__item {
		display: flex;

		&::after {
			transform: rotate(180deg);
		}
	}
}

.header__leng {
	display: block;
	margin-right: 28px;
}
