.modern {
	min-height: 680px;
	background-color: #fdfbf6;
}

.container-modern {
	max-width: 1289px;
}
.modern-list {
	@include bp(md) {
		display: flex;
		align-items: center;
		padding-top: 72px;
	}
}
.modern-list__left {
	width: 833px;
	height: 531px;
	background-image: url("../img/modern-house.png");
	background-size: 533px auto, 431px auto;
	background-repeat: no-repeat;
	background-position-x: 0px;
	background-position-y: 40px;

	@include bp(md) {
		background-size: 833px auto, 531px auto;
		background-position-x: -82px;
		background-position-y: -2px;
	}
}

.modern-list__right {
	max-width: 490px;
	min-height: 440px;
	margin-right: 0;
	text-align: center;

	@include bp(md) {
		text-align: left;
		margin-right: 52px;
		max-width: 419px;
	}
}

.modern-title {
	@include reset-model;
	font-family: "Cabinet Grotesk", sans-serif;
	font-weight: 900;
	@include font(38px, 50px);
	color: $color-dark-font;
	margin: 0;
	text-align: center;

	@include bp(md) {
		@include font(48px, 60px);
		padding-left: 0;
	}
}

.modern-text {
	@include reset-model;
	line-height: 28px;
	color: $color-text-base;
	padding-top: 20px;
	padding-bottom: 39px;
}

.modern-btn {
	@include reset-button;
	width: 172px;
	height: 60px;
	background-color: $color-link;
	border-radius: 6px;
	color: #fff;
	font-family: "Cabinet Grotesk", sans-serif;
	font-weight: bold;
	@include font(16px, 20px);
	transition: 0.3s ease-in-out;
}

.modern-btn:hover {
	background-color: #fff;
	color: $color-link;
	border: 2px solid $color-link;
}
