.search {
	&__block {
		background-color: #fff;
		box-shadow: 30px 50px 150px rgba(39, 31, 26, 0.2);
		border-radius: 10px;
		padding: 50px;
		margin-left: 8px;
	}

	&__title {
		@include reset-model;
		@include font-cabinet-bold;
		@include font(24px, 30px);
		color: $color-dark-font;
		margin-bottom: 20px;
	}
}

.search-form {
	display: flex;
	&__field {
		@include reset-input;
		@include font-helvetica-medium;
		@include font(16px, 24px);
		background-color: #f5f5f5;
		border-radius: 6px;
		background-repeat: no-repeat;
		background-position: center right 22px;
		padding: 18px 50px 18px 20px;
		margin-right: 20px;
		flex-grow: 1;

		&-location {
			background-image: url("../img/location-icon.svg");
		}

		&-type {
			background-image: url("../img/home-icon.svg");
		}

		&-budget {
			background-image: url("../img/dollar-icon.svg");
		}

		&::placeholder {
			color: rgba(97, 89, 77, 0.6);
		}

		&:focus {
			outline: 1px solid #ddd;
		}
	}
}

.btn_search {
	@include reset-button;
	@include font-cabinet-bold;
	@include font(16px, 20px);
	background-color: $color-link;
	border-radius: 6px;
	width: 166px;
	height: 60px;
	color: #fff;
	transition: 0.3s ease-in-out;

	&:hover {
		background-color: #fff;
		border: 1px solid #d6680f;
		color: #d6680f;
	}
}
